// @TODO - make variables (i.e. for colors, etc.)
$guild-red: #C41F3B;
$guild-strong-magenta: #A330C9;
$guild-dark-magenta: #411350;
$guild-orange: #FF7D0A;
$guild-green: #ABD473;
$guild-light-blue: #69CCF0;
$guild-jade-green: #00FF96;
$guild-pink: #F58CBA;
$guild-white: #FFFFFF;
$guild-light-yellow: #FFF569;
$guild-blue: #0070DE;
$guild-purple: #9482C9;
$guild-tan: #C79C6E;
$guild-background-grey: #E1E1E1;
