<div layout="column" layout-fill flex="30" flex-xs="100" flex-sm="100" layout-align="top">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Gerald Parham</span>
                <span class="md-subhead">ColeGuild Connoisseur</span>
            </md-card-title-text>
            <md-card-title-media>
                <img src="images/gerald.jpg" class="headshot md-whiteframe-1dp" alt="Gerald Himself">
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button hide-gt-sm>Twitter</md-button>
            <md-button>Know of a good Guild?</md-button>
        </md-card-actions>
    </md-card>
    <br />
    <twitter-timeline class="md-whiteframe-1dp" hide-xs hide-sm>
        <a class="twitter-timeline" href="https://twitter.com/grparham" data-tweet-limit="5">Tweets by grparham</a>
    </twitter-timeline>
</div>
